
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# SQLite database
db.sqlite3

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# IDEs
.idea/

# Other
__MACOSX/