name: Deploy GlowShot

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/glowshotbot
            git fetch --all
            git reset --hard origin/main

            source venv/bin/activate
            pip install -r requirements.txt

            sudo systemctl restart glowshot-bot
            sudo systemctl restart glowshot-support

            sudo systemctl status glowshot-bot --no-pager
            sudo systemctl status glowshot-support --no-pager
